.about
  display: flex
  flex-direction: column
  margin: 30px 80px 0 80px
  flex: 1
  min-height: 650px

.row
  display: flex
  flex-direction: row
  flex: 1

.header
  display: flex
  flex-direction: row
  align-items: center
  padding: 0 0 1em 0

.poster
  position: relative
  color: white
  margin: 0 30px
  width: 400px
  z-index: 0

.poster-img
  position: absolute
  z-index: 2
  width: 400px
  box-shadow: 0px 15px 12px 0px rgba(0,0,0,0.22), 0px 19px 38px 0px rgba(0,0,0,0.30)
  border-radius: 2px
  transition: 0.2s ease-out

  &--hidden
    opacity: 0
    transform: scale(0.4)

.content
  flex: 1
  overflow: auto
  line-height: 1.6
  padding-bottom: 1em

.info
  padding: 0 1em
  &--first
    padding-left: 0

.overview
  font-weight: 300
  font-size: 14px
