.notFound
  font-size: 5em
  flex: 1
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center
  text-transform: uppercase
  font-weight: bold
  text-align: center

.number
  font-size: 3em
  .icon
    position: relative
    font-size: 0.9em
    top: 0.1em
