@require 'About'

.season
  @extend .about

.episodesListWrapper
  @extend .poster

.episodeOverview
  color: white
  font-weight: lighter
  .title
    font-size: 1.2em
    padding-top: 1em
    font-weight: normal
    &--no-padding
      padding-top: 0
