@require '../variables'

.sideMenu
  display: flex
  flex-direction: column
  padding-top: 30px
  position: fixed
  width: 235px
  height: unquote('calc(100vh - 80px)')

.item
  display: flex
  align-items: center
  padding-left: 30px
  padding-right: 30px
  height: 60px
  color: white
  text-transform: uppercase
  text-decoration: none
  font-size: 18px
  transition: all 0.2s ease-out
  position: relative
  flex-shrink: 0
  &--genre
    text-transform: none
    padding-left: 3em;
    height: 40px;
    font-size: 1em;


  &--active
    color: $accent
    background: rgba(0,0,0,0.13)
    border-radius: 0 2px 2px 0

.divider
  margin: 1em 0
  border-bottom: 1px solid #424C51

.genres
  display: flex
  flex-direction: column
  overflow: auto
  flex: 1
