:global
  body
    background: #263238

  // hide scrollbars on webkit
  ::-webkit-scrollbar
      width: 0px
      background: transparent

  ::-webkit-scrollbar-thumb
      background: transparent

.app
  color: white
  font-family: Roboto
  display: flex
  flex-direction: column
  padding-top: 80px
  min-height: 800px
